<head>
		<title>Menu</title>	
		<style>
		
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="restrauntStyles.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body align="center">
		<header><h1>Beach Front Food</h1></header>
			<hr>
	<div align="left">
	<ul class="nav nav-tabs">
	<li><a class="glyphicon glyphicon-home" href="index.html"></a></li>
	<li><a href="menu.html">Menu</a></li>    
	<li><a href="contact.html">Contact Us</a></li>
	</ul>
	</div>		
			<hr>
	<div class="table-responsive">
	 <div class="row">
		
			
		<div class="col-sm-3">
				<h2 style="color:darkblue;"><b>Burger and Fries</b></h2>
				<p>An American Classic!</p>
				<p>Your choice - with or without cheese</p>
				<p>Pickle, onion, tomato, and lettuce</p>
				<p>Served with our famous thick cut</p>
				<p>french fries</p>
				<p><b>$7.95</b></p>
		</div>
		<div class="col-sm-3">		
				<h2 style="color:darkblue;"><b>Hot Dog and Chips</b></h2>
				<p>An Summer Classic!</p>
				<p>Your choice - white or wheat bun</p>
				<p>Relish, mustard, and ketchup</p>
				<p>Served with our house-made chips</p>
				<p><b>$7.95</b></p>
		</div>
		<div class="col-sm-3">		
				<h2 style="color:darkblue;"><b>Italian Sausage and Peppers</b></h2>
				<p>An All-Time Favorite!</p>
				<p>Your choice - mild or spicy</p>
				<p>Cole Slaw</p>
				<p>Served with garlic mashers</p>
				<p><b>$10.95</b></p>
		</div>	
		   
         
			
		
		<div class="col-sm-3">	
				<h2 style="color:darkblue;"><b>Tenderloin Sandwich and chips</b></h2>
				<p>Really Hits the Spot!</p>
				<p>Plain or Sesame Seed Bun</p>
				<p>Pickle, onion, tomato, and lettuce</p>
				<p>Served with our house-made chips</p>
				<p><b>$8.95</b></p>
		</div>
		
		<div class="col-sm-3">	
				<h2 style="color:darkblue;"><b>House Salad</b></h2>
				<p>On the Lighter Side</p>
				<p>Your choice - wiht or without cheese</p>
				<p>Iceberg lettuce, tomatoes, peppers</p>
				<p>Thousand Island or Ranch Dressing</p>
				<p>Served with a dinner roll</p>
				<p><b>$6.95</b></p>
		</div>
		
		<div class="col-sm-3">	
				<h2 style="color:darkblue;"><b>Brisket Sandwich and Fries</b></h2>
				<p>On the Lighter Side<p>
				<p>Your choice - with or without cheese</p>
				<p>Iceberg lettuce, tomatoes, peppers</p>
				<p>Thousand Island or Ranch Dressing</p>
				<p>Served with a dinner roll</p>
				<p><b>$6.95</b></p>
		</div>
		
		<div class="col-sm-3">	
				<h2 style="color:darkblue"><b>Beverages</b></h2>
				<p><b>Root Beer</b> <i>$3.00</i></p>
				<p><b>Bottled Water</b> <i>$1.25</i></p>
				<p><b>Lemonade</b> <i>$1.00</i></p>
				<p><b>Iced Tea</b> <i>$1.25</i></p>
		</div>		
		
	 </div>
	</div>
			
			<hr>
		<footer><h3>Conch Shell Ln., Key West, Florida, 33030</h3></footer>
	
		
	</body>
</html>
