/* restraunt style sheet */
header{
	color:darkblue;
	border: solid;
	width: 100%;
	background:url("image/water2.jpg");
	background-size: 400px;
	font-family: 'Indie Flower', cursive;
}
footer{
	color:darkblue;
	border: solid;
	width: 100%;
	background:url("image/water2.jpg");
	background-size: 400px;
	font-family: 'Indie Flower', cursive;
}
body{
	background:lightblue;
}
h1{
	
}

a:hover{
	font-weight: bold;
	text-decoration: underline;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color: darkblue;
}
.required label:before { 
	content:" *";
	color: red;
}