/* albumPage CSS sheet */

body{
	background-color:grey;
}
h1{
	font-family: 'Baloo Thambi', cursive;
}

td{
	font-style: italic;
}
tbody tr:nth-child(even){
	background-color: lightblue;
}
tbody tr:nth-child(odd){
	background-color: white;
}