/*CSS for lucky 7 game*/
body{
	vertical-align: center;
}
table{
	border:solid;
	border-color:black;
}
tbody tr:nth-child(even){
	background-color: lightgrey;
}
tbody tr:nth-child(odd){
	background-color: white;
}